.container__encabezados {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 5px 0px;

  &--titulo {
    color: $color;
  }
}

th,
td {
  border: 1px solid black;
  padding: 5px;
  font-size: 1.1rem;
}

// --------------------------------- MEDIAS QUERIES -----------------------------------

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card-body {
    padding: 0px;
  }

  .hidden2 {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .hidden2 {
    display: none;
  }
}

@media screen and (min-width: 494px) and (max-width: 767px) {
  /* ----------------- RESPONSIVE 494-767 PARA CURSOS Y PONENCIAS */

  th,
  td {
    padding: 1px;
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 493px) {
  th,
  td {
    padding: 1px;
    font-size: 0.5rem;
  }
}
