* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Laila", sans-serif;
  font-family: "Libre Baskerville", serif;
}

@mixin mixin1($var1, $var2) {
  display: $var1;
  flex-direction: $var2;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$disposicion: (
  primera: space-between,
  segunda: space-around,
);

@each $pos, $valor in $disposicion {
  .main__#{$pos} {
    justify-content: $valor;
  }
}

.navbar {
  margin: 0px;
  padding: 0px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.navbar > .container-fluid {
  background-color: $color;
  padding: 15px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

.background__pages {
  background: -webkit-linear-gradient(
    -180deg,
    rgb(144, 150, 156),
    rgb(49, 54, 59)
  );
}

span {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #ffd700;
}

h3 {
  color: $color2;
  font-size: 1rem;
  padding: 10px;
}

h1 {
  color: $color2;
  font-size: 3.5rem;
}

.footer {
  background-color: $color;
  display: flex;

  &__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
  }

  &__texto {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    color: $color2;
  }

  &__imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    padding-left: 20%;
    column-gap: 8px;
  }
}

// --------------------------------- MEDIAS QUERIES -----------------------------------

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    background-color: $color;
    display: flex;

    &__lista {
      font-size: 0.9rem;
    }

    &__texto {
      font-size: 0.7rem;
      color: $color2;
    }

    &__imagenes {
      width: 35px;
      height: 35px;
      padding-left: 20%;
    }
  }

  .list-inline {
    @include mixin1(flex, column);
  }
}

@media screen and (min-width: 494px) and (max-width: 767px) {
  body {
    @include mixin1(flex, column);
    width: 100%;
  }

  h1 {
    font-size: 2.3rem;
  }

  .list-inline {
    @include mixin1(flex, column);
  }

  .footer {
    display: flex;
    flex-direction: column;

    &__imagenes {
      padding: 0px 0px 10px 50%;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 493px) {
  .ml-1 {
    @include mixin1(flex, column);
  }

  .footer {
    display: flex;
    flex-direction: column;

    &__texto {
      font-size: 0.7rem;
    }

    &__imagenes {
      width: 2rem;
      height: 2rem;
      padding: 0px 0px 10px 50%;
    }
  }

  span {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1.35rem;
  }

  .list-inline {
    @include mixin1(flex, column);
  }
}
