.cita__index {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 3px solid;
  width: 87ch;
  color: white;
  font-size: 1.6rem;
  animation: typing 5s steps(87), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.main--contenedor {
  display: flex;
  flex-direction: column;
}

.container4 {
  width: 100%;
  height: 500px;
  padding: 15px;
  background-color: black;
  color: #ffd700;
  border: 2px solid white;
  margin: 0 auto;
}

.container5 {
  width: 100%;
  height: 500px;
  padding: 15px;
  background-color: black;
  color: #ffd700;
  border: 2px solid white;
}

.link:hover {
  color: #ffff;
}

abbr[title] {
  text-decoration: none;
}

// --------------------------------- MEDIAS QUERIES -----------------------------------

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  .cita__index {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar-brand {
    display: none;
  }

  .cita__index {
    font-size: 1rem;
  }

  .header__todas-las-paginas {
    height: auto;
  }

  .container1 > h1 {
    padding: 5px;
    font-size: 3rem;
  }

  .de-prueba3 {
    display: flex;
    flex-direction: column;
  }

  .qs__1eraS {
    margin-top: 5px;
  }

  .qs__1eraS--img1 {
    margin-left: 5px;
  }

  .qs__2daS--img2 {
    margin-right: 5px;
  }
}

@media screen and (min-width: 494px) and (max-width: 767px) {
  .cita__index {
    font-size: 1rem;
    display: none;
  }

  .container4,
  .container5 {
    height: 370px;
  }

  .container4__h4delindex {
    margin-top: 20%;
    color: #f3f3f3;
  }
}

@media screen and (min-width: 320px) and (max-width: 493px) {
  .container4,
  .container5 {
    height: 300px;
  }

  .cita__index {
    font-size: 0.8rem;
    display: none;
    margin: 0px 0px 4px;
    padding: 4px;
  }

  .container4__h4delindex {
    font-size: 1.5rem;
    margin: 30% 0px;
  }
}
