.de-prueba {
  height: 400px;
  width: 100%;
  background-image: url(../imagenes-proyecto-coder/libros-640x426.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.de-prueba3 {
  @include mixin1(flex, column);
}

.cita__index {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 3px solid;
  width: 87ch;
  color: $color2;
  font-size: 1.6rem;
  animation: typing 5s steps(87), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}


.container4__h4delindex {
  font-size: 2.5rem;
  margin-top: 200px;
  text-align: center;
}

.navbar-brand {
  display:none;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.main--contenedor {
  @include mixin1(flex, column);
}

.container4 {
  @extend .container5;
  margin: 0 auto;
}

.container5 {
  width: 100%;
  height: 500px;
  padding: 15px;
  background-color: $color;
  color: #ffd700;
  border: 2px solid $color2;
}

.link:hover {
  color: $color2;
}

abbr[title] {
  text-decoration: none;
}

// --------------------------------- MEDIAS QUERIES -----------------------------------

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  .cita__index {
    font-size: 1.3rem;
  }

  .navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-brand {
    display: none;
  }

  .cita__index {
    font-size: 1rem;
  }

  .header__todas-las-paginas {
    height: auto;
  }

  .container1 > h1 {
    padding: 5px;
    font-size: 3rem;
  }

  .de-prueba3 {
    @include mixin1(flex, column);
  }

  .qs__1eraS {
    margin-top: 5px;
  }

  .qs__1eraS--img1 {
    margin-left: 5px;
  }

  .qs__2daS--img2 {
    margin-right: 5px;
  }
}

@media screen and (min-width: 494px) and (max-width: 767px) {
  .de-prueba  {
    height: 250px;
  }
  
  .cita__index {
    display: none;
  }

  .container4,
  .container5 {
    height: 370px;
  }

  .container4__h4delindex {
    margin-top: 20%;
    color: #f3f3f3;
  }
}

@media screen and (min-width: 320px) and (max-width: 493px) {
  .de-prueba  {
    height: 200px;
  }

  .container4,
  .container5 {
    height: 300px;
  }

  .cita__index {
    display: none;
  }

  .container4__h4delindex {
    font-size: 1.5rem;
    margin: 30% 0px;
  }
}
