.qs__1eraS--parrafoVision {
  text-align: justify;
  padding: 10px;
}

.qs__1eraS--parrafoTestimonios {
  text-align: justify;
  padding: 5px;
}

.qs__2daS {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;

  &-titulo1 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    margin-top: 300px;
    color: $color;
    font-size: 29px;
    height: auto;
  }

  &--texto {
    @include flex-center-center;

    &--parrafo {
      text-align: justify;
      padding: 25px;
    }
  }

  &--img2 {
    height: 650px;
    border-radius: 10px;
  }
}

.qs__3eraS {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;

  &--test-foto {
    display: flex;
    flex-direction: row;
  }

  &--img3 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}

// --------------------------------- MEDIAS QUERIES -----------------------------------

@media screen and (min-width: 494px) and (max-width: 767px) {
  .qs__2daS--img2 {
    margin-right: 5px;
    display: none;
  }

  .qs__2daS--parrafo,
  .qs__1eraS--parrafoVision,
  .qs__1eraS--parrafoTestimonios {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 493px) {
  .qs__1eraS,
  .qs__3eraS,
  .qs__3eraS--test-foto {
    @include mixin1(flex, column);
  }

  .qs__2daS--img2 {
    display: none;
  }

  .qs__3eraS--img {
    display: flex;
    justify-content: center;
  }

  .qs__1eraS--parrafoVision,
  .qs__1eraS--parrafoTestimonios {
    text-align: center;
    font-size: 0.7rem;
    width: 100%;
  }

  .qs__2daS--parrafo,
  .qs__1eraS--parrafo {
    font-size: 0.8rem;
  }
}
