.container-fluid {
  margin: 0px;
  padding: 0px;
}

.footer {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $color;

  &__img {
    width: 35px;
    height: 35px;
    padding: 2px;
  }

  &__texto {
    text-align: justify;
    padding: 5px;
    color: #fff;
  }
}

.background__pages {
  background: -webkit-linear-gradient(
    -180deg,
    rgb(144, 150, 156),
    rgb(49, 54, 59)
  );
}

span {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1rem;
  padding: 10px;
}

h1 {
  color: white;
  font-size: 3.5rem;
}

.main {
  p {
    font-size: 1.5rem;
  }

  &__primeraSeccion {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    margin: 1rem;
    column-gap: 15px;
  }

  &__segundaSeccion {
    @extend .main__primeraSeccion;
    justify-content: space-around;
  }
}

/*------------------------------ COMIENZO DE ANIMACIONES APLICADAS A LA PÁGINA TIENDA ---------------------------------*/

.card {
  position: relative;
  width: 300px;
  height: 380px;
  background-color: transparent;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px $color;
  background: silver;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #f3f3f3;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: linear-gradient(180deg, rgb(248, 212, 2), rgb(135, 137, 59));
  padding: 15px;
  color: $color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0.5px 5px $color;
}

.card .back .link {
  border-top: solid 1px $color;
  height: 50px;
}

.card .back .link a {
  color: $color;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  color: $color;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/*------------------------------ FIN DE ANIMACIONES APLICADAS A LA PÁGINA TIENDA ---------------------------------*/

/*        -------------------------        MEDIAS QUERIES         ------------------------------------------------ */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 494px) and (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  h1 {
    font-size: 2.3rem;
  }

  .front h3 {
    font-size: 0.75rem;
  }

  .card .back h3 {
    font-size: 1.38rem;
    margin-top: 10px;
  }

  .footer {
    font-size: 0.8rem;

    &__texto {
      width: 360px;
      height: 8px;
    }

    &__img {
      width: 23px;
      height: 23px;
      padding: 2px;
    }
  }

  section {
    display: flex;
    align-items: center;
  }

  /* Responsive 768 para Tienda */

  .main__primeraSeccion,
  .main__segundaSeccion {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin: 5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 493px) {
  .footer__img {
    width: 18px;
    height: 18px;
  }

  .footer__texto {
    font-size: 0.5rem;
    padding: 2.5px;
    margin: 0.2rem;
  }

  span {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1.35rem;
  }

  /* ------------- responsive 320 Tienda */

  .main__primeraSeccion,
  .main__segundaSeccion {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
  }
}
