.main {
  p {
    font-size: 1.5rem;
  }

  &__primeraSeccion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    column-gap: 15px;
  }

  &__segundaSeccion {
    @extend .main__primeraSeccion;
    justify-content: space-around;
  }
}

.card {
  position: relative;
  width: 300px;
  height: 380px;
  background-color: transparent;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px $color;
  background: silver;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #f3f3f3;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: linear-gradient(180deg, rgb(248, 212, 2), rgb(135, 137, 59));
  padding: 15px;
  color: $color;
  @include mixin1(flex, column);
  justify-content: space-between;
  text-align: center;
  box-shadow: 0.5px 5px $color;
}

.card .back .link {
  border-top: solid 1px $color;
  height: 50px;
}

.card .back .link a {
  color: $color;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  color: $color;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/*        -------------------------  MEDIAS QUERIES  ------------------------------------------------ */

@media screen and (min-width: 494px) and (max-width: 767px) {
  body {
    @include mixin1(flex, column);
    width: 100%;
  }

  h1 {
    font-size: 2.3rem;
  }

  .front h3 {
    font-size: 0.75rem;
  }

  .card .back h3 {
    font-size: 1.38rem;
    margin-top: 10px;
  }

  section {
    display: flex;
    align-items: center;
  }

  .main__primeraSeccion,
  .main__segundaSeccion {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin: 5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 493px) {

  span {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1.35rem;
  }

  .main__primeraSeccion,
  .main__segundaSeccion {
    @include mixin1(flex, column);
    gap: 5px;
    margin: 5px;
  }
}
