.trabaja1 {
  @include flex-center-center;
  background-image: url(../imagenes-proyecto-coder/Profesor-trabaja-con-nosotros.jpg);
  height: 10rem;
  background-size: cover;
}

.trabaja1 {
  font-weight: bold;
  font-size: 0.9rem;
}

form {
  font-size: 0.9rem;
  padding: 0.2rem;
}

fieldset div {
  padding: 3px;
}

::placeholder,
select,
button {
  font-size: 0.8rem;
}

label {
  @include mixin1(flex, column);
}

.trabaja__mq320 {
  display: flex;
  flex-direction: row;
  padding: 1px;
  gap: 25px;
}

.idiom__md768 {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  gap: 0.5rem;
}

//------------------------------- MEDIAS QUERIES ---------------------------

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .trabaja1 {
    @include flex-center-center;
    height: 150px;
  }

  .trabaja1 {
    font-weight: bold;
    font-size: 0.9rem;
  }

  form {
    font-size: 0.9rem;
    padding: 0.2rem;
  }

  fieldset div {
    padding: 3px;
  }

  ::placeholder,
  select,
  button {
    font-size: 0.8rem;
  }

  label {
    @include mixin1(flex, column);
  }

  .trabaja__mq320 {
    display: flex;
    flex-direction: row;
    padding: 1px;
    gap: 25px;
  }

  .idiom__md768 {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 494px) and (max-width: 767px) {
  .trabaja1 {
    @include flex-center-center;
    height: 200px;
  }

  .trabaja1 {
    font-weight: bold;
    font-size: 0.9rem;
  }

  form {
    font-size: 0.9rem;
    padding: 0.2rem;
  }

  fieldset div {
    padding: 3px;
  }

  ::placeholder,
  select,
  button {
    font-size: 0.8rem;
  }

  label {
    @include mixin1(flex, column);
  }

  .trabaja__mq320 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1px;
    gap: 2px;
  }

  .idiom__md768 {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    gap: 0.5rem;
  }

  .trabaja1 > p {
    text-align: justify;
    height: fit-content;
  }
}

@media screen and (min-width: 320px) and (max-width: 493px) {
  .trabaja1 {
    @include flex-center-center;
    height: 150px;
  }

  .trabaja1 {
    font-weight: bold;
    font-size: 0.7rem;
  }

  form {
    font-size: 0.7rem;
    padding: 0.2rem;
  }

  fieldset {
    width: 310px;
  }

  fieldset div {
    padding: 3px;
  }

  ::placeholder,
  select,
  button {
    font-size: 0.7rem;
  }

  label {
    @include mixin1(flex, column);
  }

  .trabaja__mq320 {
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 310px;
  }

  .trabaja1 > p {
    text-align: justify;
    height: fit-content;
  }
}
